name: Deploy Databricks to Prod from JFrog (OIDC)

on:
  workflow_run:
    workflows: ["Build and Upload to JFrog (Prod Release)"]
    types: [completed]

permissions:
  id-token: write
  contents: read

jobs:
  deploy-prod:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    env:
      DATABRICKS_HOST: ${{ secrets.PROD_DEPLOYMENT_TARGET_URL }}
      DATABRICKS_TOKEN: ${{ secrets.PROD_DEPLOYMENT_TARGET_TOKEN }}
      JF_URL: https://trialb2qcp1.jfrog.io

    steps:
      - uses: actions/checkout@v4

      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        with:
          oidc-provider-name: edpypf/databrickscicd@github
        env:
          JF_URL: ${{ env.JF_URL }}

      - name: Download latest Prod artifact
        run: |
          jfrog rt dl "adf_artifact_repo/databricks_bundle_build_prod/release/*/databricks_bundle_prod.zip" . --sort-by=created --sort-order=desc --limit=1 --flat
          unzip databricks_bundle_prod.zip -d .

      - name: Setup Databricks CLI
        uses: databricks/setup-cli@main

      - name: Validate Databricks bundle
        run: databricks bundle validate --target prod

      - name: Deploy to Prod
        run: databricks bundle deploy --target prod
